<template>
  <div>
    <ul id="example-1">
      <li v-for="(item, index) in items">
        {{ index }} - {{ item.login }} - {{ item.avatar_url }}
      </li>
    </ul>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'listOfUsers',
    data() {
      return  {
        items: []
      }
    },
    mounted() {
      axios
        .get('https://api.github.com/users')
        .then(response => (this.items = response.data));
    },
    props: {},

  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
